main{
 
   justify-content: center;
   display: flex;
   height: 100vh;
}

section, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    img {
       border: 10px solid white;
       border-radius: 50%;
       height: 300px;
       margin: 20px auto ;
     }
    }
.example-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
     mat-form-field{
         width: 300px;
      }
      
      mat-icon{
         color: white;
      }
      .login{
         background-color: transparent;
         border:none;
         padding: 0 15px;
         color: white;
      }
    }
 
