<header> 
    <img src="assets/y_whitesml.png" alt="Logo" />
    <div class="nav" *ngIf="!isMobileView"> 
      <ul>
          <li><a routerLink="/homepage">Home</a></li>
          <li><a routerLink="/house">House</a></li>
          <li><a (click)="auth.logOut()"> Logout </a></li>
     </ul>
    </div>
    <div class="hamburger">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon  class="icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="customized">
       <ul>
          <li><a routerLink="/homepage">Home</a></li>
          <li><a routerLink="/house">House</a></li>
          <li><a (click)="auth.logOut()"> Logout </a></li>
        </ul>
    </mat-menu>
</div>
</header>
