<header> 
    <img src="assets/y_whitesml.png" alt="Logo" />
    <div class="nav"> 
      <ul  class="night-mode">
          <li><a>Home</a></li>
          <li><a>House</a></li>
          <li><a>Tenant</a></li>
          <li><a>Logout </a></li>
     </ul>
    </div>
  </header>
<!-- 
  <a [routerLink]="['cocktail-details','69']" class="nav-link nav-text">House</a>
<a routerLink="admin" class="nav-link nav-text">Tenant</a>
<a (click)="logIn()" *ngIf="!loggedIn" > Login </a>
<a (click)="logOut()"*ngIf="loggedIn" > Logout </a> -->