header{
     top: 0;
     left: 0;
     width: 100dvw;
     display: flex;
     justify-content: space-between;
     align-self: center;
    
    
   }
   
   header img{
       top: 0;
       left: 0;
       color: white;
       text-transform: uppercase;
       margin:1rem;
       text-decoration: none;
       height: 30px;
       width: auto;
       
   }
   header ul{
       top: 0;
       right: 0;
       padding: 1rem;
       display: flex;
       list-style: none;
       gap: 1rem;
       
   }
   
   header ul li a{
       font-size: 1.5rem;
       font-weight: 500;
     text-decoration: none;
     margin: auto 3rem ; 
     --b: 0.1em;   /* the thickness of the line */
     --c: #ffffff; /* the color */
     color: #fcfbfb;
     padding-block: var(--b);
     background: 
       linear-gradient(var(--c) 50%,#000000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
       linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
     -webkit-background-clip: text,padding-box;
             background-clip: text,padding-box;
     transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
   }
   
  header ul li a:hover{
     --_p: 100%;
     --_s: .3s;
   }