    <main>
        <div class="container">
                <h2>Welcome {{ fullname }} </h2> 
            <div class = icon>
                <a routerLink="/house"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" title="House"></mat-icon></a>
                <a routerLink="/contract"><mat-icon aria-hidden="false" aria-label="Example contract icon" fontIcon="assignment"title="Contract"></mat-icon></a>
                <a routerLink="/tenant"><mat-icon aria-hidden="false" aria-label="Example tenant icon" fontIcon="people" title = "Tenant"></mat-icon></a>
            </div>
        </div>
    </main>
