<mat-dialog-content class="dialog-content" [style.max-width.%]="isMobile ? 100 : null" [style.max-height.%]="isMobile ? 100 : null" [style.height.%]="isMobile ? 100 : null" [style.width.%]="isMobile ? 100 : null">
  <div mat-dialog-title class="dialog-title">
      <div class="title-container">
        <button mat-icon-button mat-dialog-close class="close-button">
          <mat-icon>close</mat-icon>
        </button>
        <h2> Update Building </h2>
      </div>
    </div><br>
    <div class="input"> 
    <mat-form-field appearance="outline">
      <mat-label>Building Name</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.name" placeholder="Building Name" >
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressStreet" placeholder="Address">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Number</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressNumber" placeholder="Number">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressPostalCode" placeholder="Zip Code">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressCity" placeholder="City">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressCountry" placeholder="Country">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Door Code</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.doorCode" placeholder="Door Code">
      </mat-form-field>
      <div mat-dialog-actions style="display: flex; justify-content: center;">
        <button  mat-button mat-dialog-close (click)="updateBuilding(id, updateBuildings)">Save</button>
    </div>
  </div>
  </mat-dialog-content>
