<!-- <div mat-dialog-title class="dialog-title">
    <div class="title-container">
      <button mat-icon-button mat-dialog-close class="close-button">
        <mat-icon>close</mat-icon>
      </button><br><br><br>
      <h2> CHOOSE THE ROOM TO DELETE </h2>
    </div>
  </div><br>
  <div>
    <mat-form-field appearance="outline">
        <mat-label>Room</mat-label>
        <select matNativeControl [(ngModel)]="selectedRoom" >
          <option *ngFor="let roomNumber of filteredRooms" [value]="roomNumber">{{ roomNumber }}</option>
        </select>
      </mat-form-field
    ></div> -->