<main> 
  <section>
          <img src="assets/y_white.png" alt="Logo" />
          <form [formGroup]="reset" (ngSubmit)="onReset()">
          <div class="example-container">
              <mat-form-field appearance="outline">
                  <mat-label>Enter your new password</mat-label>
                  <input matInput formControlName="newPassword" [type]="hide ? 'password' : 'text'" required>
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm your password</mat-label>
                  <input matInput formControlName="confirmNewPassword" [type]="confirmPassword ? 'password' : 'text'" required>
                  <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPassword">
                  <mat-icon>{{confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-error *ngIf="reset.controls['newPassword'].value !== reset.controls['confirmNewPassword'].value">Passwords do not match.</mat-error>
          </div>
           <div class="example-button-row">
              <br><br><button class="reset" type="submit" mat-stroked-button>Reset</button>
          </div>
        </form>
  </section>
</main>

