<main> 
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <span matPrefix></span>
      <input type="text" matInput placeholder="Search" name="search" [(ngModel)]="search" (input)="searchMaison()">
      <button matSuffix mat-button><mat-icon>search</mat-icon></button>
    </mat-form-field>
  </form>

<div class="maison-container">
  <mat-card class="customize" *ngFor="let maison of filteredMaisons">
    <mat-card-header>
      <mat-card-title>{{ maison.nom }}</mat-card-title>
      <mat-card-subtitle>
          {{ maison.adresse }} <br>
          {{ maison.ville }} 
      </mat-card-subtitle>
    </mat-card-header><br>

    <button class="details" mat-button (click)="toggleDetails(maison)">SEE THE ROOMS</button>
    <mat-card-content *ngIf="maison.showDetails">
      <mat-list>
        <mat-list-item *ngFor="let chambre of maison.chambres" (click)="selectChambre(chambre)">
          {{ chambre.nom }} :
          <span class="room-details" *ngIf="selectedChambre === chambre">
            {{ chambre.locataire }}
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="customize add-card" (click)="addMaison()">
    <mat-card-content>
      <mat-icon>add</mat-icon>
      Add New House
    </mat-card-content>
  </mat-card>
</div>
</main>
