<main> 
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <span matPrefix></span>
      <input type="text" matInput placeholder="Search" name="search" [(ngModel)]="search" (keyup)="searchBuilding()">
      <button matSuffix mat-button><mat-icon>search</mat-icon></button>
    </mat-form-field>
  </form>

<div class="building-container">
  <button mat-button (click)="openDialog()"> <mat-card-title> {{ '+ Add New building' }}</mat-card-title></button><br><br>

      
 <mat-card class="customize" *ngFor="let building of filteredbuildings">
    <mat-card-header>
      <div class="iconsButton">
        <button mat-icon-button (click)="openUpdateDialog(building.id)">
          <mat-icon>edit</mat-icon>
          </button>
        <button mat-icon-button (click)="removeBuilding(building.id)" >
        <mat-icon >delete</mat-icon>
        </button>
      </div>
      <mat-card-title>{{ building.name }}</mat-card-title>
      <mat-card-subtitle>
          {{ building.addressStreet }} {{ building.addressNumber }}, <br>
          {{ building.addressPostalCode }} {{ building.addressCity }} 
      </mat-card-subtitle>
    </mat-card-header><br>

    <button class="details" mat-button (click)="toggleDetails(building)">SEE THE ROOMS</button>
   
<mat-card-content *ngIf="building.showDetails">
  <div mat-dialog-actions style="display: flex; justify-content: center;">
    <button mat-button (click)="openRoomDialog(id)">  {{ '+ Add New Rooms' }}</button><br><br>
  </div>
  <div *ngFor="let chambre of newbuilding.chambres; let i = index">
<mat-form-field appearance="outline">
<mat-label>Room Name</mat-label>
<input type="text" matInput [(ngModel)]="chambre.nom" placeholder="Room Name">
</mat-form-field>
<mat-form-field appearance="outline">
<mat-label>Locataire Name</mat-label>
<input type="text" matInput [(ngModel)]="chambre.locataire" placeholder="Locataire Name">
</mat-form-field>
<button mat-button >Remove</button>
</div>

  <mat-list>
    <mat-list-item *ngFor="let room of building.rooms">
      {{ room.roomNumber }} occupied by :
   
      <span class="room-details" *ngFor="let tenants of room.tenants">
        {{ tenants.firstname }} {{ tenants.lastname }} <br>
     
      </span>
    </mat-list-item>
  </mat-list>
</mat-card-content>
  </mat-card><br>
 
</div>
</main>
