main{
    min-height: 100dvh;
}
form{
    display: flex;
    justify-content: center;

}


.building-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    color: white;
    align-items: center;
}

.customize, mat-card {
    background-color:  transparent;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 90%;
    
}
.customize:hover, mat-card:hover {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: .3s;
    width: 90%;
}

.customize mat-card-header {
    justify-content:space-between
}



.details {
    color: rgb(112, 12, 243) !important;
  }

  button .tenantIcon{
    align-items: center;
    height: 25px;
    width: 25px;
    font-size: 25px;
    
  }

  .building-name {
    display: inline-block;
    vertical-align: middle;
  }
  .homeIcon {
    vertical-align: middle;
  }
  

  .tenant-details {
    display: inline-block;
    vertical-align: middle;
  }
  .tenantIcon {
    vertical-align: middle;
  }
