<mat-dialog-content class="dialog-content" [style.max-width.%]="isMobile ? 100 : null" [style.max-height.%]="isMobile ? 100 : null" [style.height.%]="isMobile ? 100 : null" [style.width.%]="isMobile ? 100 : null">
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
  <div mat-dialog-title class="dialog-title">
    
      <div class="title-container">
        <h2> Update Building (Fill the field to update) </h2>
        
      </div>
      
    </div><br>
    <mat-form-field appearance="outline">
      <mat-label>Building Name</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.name" placeholder="Building Name" >
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressStreet" placeholder="Address">
      </mat-form-field>&nbsp;
      <mat-form-field appearance="outline">
        <mat-label>Number</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressNumber" placeholder="Number">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressPostalCode" placeholder="Zip Code">
      </mat-form-field>&nbsp;
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressCity" placeholder="City">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.addressCountry" placeholder="Country">
      </mat-form-field>&nbsp;
      <mat-form-field appearance="outline">
        <mat-label>Door Code</mat-label>
        <input type="text"  matInput [(ngModel)]="updateBuildings.doorCode" placeholder="Door Code">
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="updateBuilding(id, updateBuildings)">Save</button>
    </div>
  </mat-dialog-content>
