.customize, mat-card {
    background-color:  transparent;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 90%;
    padding: 1.5rem;
    
}
.customize:hover, mat-card:hover {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: .3s;
    width: 90%;
}
main{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.input {
    flex-wrap: wrap;
    display: flex;
  }
  
  .input > * {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 767px) {
    .input {
      justify-content: space-between;
    }
    
    .input > * {
      flex-basis: calc(50% - 0.5rem);
    }
  
    .input > *:nth-child(odd) {
      margin-right: 0.5rem;
    }
    .customize, mat-card{
    margin: 50px;    }
  }
  